.section
  .row
    .span10.offset1
      .well
        %form.form-horizontal{:action => "/postcode", :method => "post"}
          %legend Enter Lat and Lng
          .control-group.string.required
            %label.control-label.string.required{:for => ""} Lat
            .controls
              %input.string.required{:type => "text", :name => "lat", :id => "lat", required: true, value: 51.45617}
          .control-group.string.required
            %label.control-label.string.required{:for => ""} Lng
            .controls
              %input.string.required{:type => "text", :name => "lng", :id => "lng", required: true, value: -2.58504}
          %input.btn.btn-primary{:type => "submit", :value => "Submit!"}
