.section
  .row
    .span10.offset1
      .well
        %h3
          Coordinates supplied: 
          %span.label.label-info
            %h3 #{@lat}, #{@lng}
        -if @postcode
          %h2
            Nearest Postcode is 
            %span.label.label-important
              %h2= @postcode
          %a{href: "https://maps.google.co.uk/maps?q=#{@postcode}", target: "_blank"}
            View this in Google Maps
        -else
          %h3 Couldn't Find a Postcode near there :/
        %hr
          %a.btn.btn-primary{href: '/'} Have Another Go

